



.seller-view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.seller-view .left-container {
    margin: 0 30px;
}

.seller-view .left-container .users-container {
    padding: 30px;
    box-sizing: border-box;
}

.seller-view .right-container {
    display: flex;
    flex-direction: column;
}

.seller-view .right-container .search-container {
    width: 1000px;
    margin-bottom: 20px;
}
.seller-view .right-container .container {
    width: 1000px;
    height: 100%;
    padding: 30px;
    background: #F8FAF9;
    border: 1px solid #E7E7E7;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.seller-view .right-container .container .product {
    width: 200px;
    border: 2px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    margin: 15px;
}
.seller-view .right-container .container .product:hover {
    background: #ddd;
    color: #777;
}

.seller-view .right-container .container .product .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.seller-view .right-container .container .product .image-container img {
    width: 50%;
}

.seller-view .right-container .container .product .data-container {
    width: 100%;
}

.seller-view .right-container .container .product .data-container h2 {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 5px 0;
}

.seller-view .right-container .container .product .data-container .sku {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.seller-view .right-container .container .product .data-container .price {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }